GF_SECURITY_ADMIN_PASSWORD=secret
GF_SERVER_ROOT_URL=http://grafana.server.name
GF_SMPT_ENABLED=true
GF_SMPT_HOST=smtp.mailgun.org
GF_SMPT_USER=grafana@example.com
GF_SMPT_PASSWORD=SUPER_SECRET_SMPT
GF_SMPT_FROM_ADDRESS=grafana@example.com
GF_ROOT_URL=http://grafana.example.com
